
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$projectmanagement-primary: mat-palette($mat-indigo);
$projectmanagement-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$projectmanagement-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$projectmanagement-theme: mat-light-theme((
  color: (
    primary: $projectmanagement-primary,
    accent: $projectmanagement-accent,
    warn: $projectmanagement-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($projectmanagement-theme);

/* You can add global styles to this file, and also import other style files */
@import "../node_modules/ag-grid-community/src/styles/ag-grid.scss";
@import "../node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss";


.ag-theme-alpine {
    @include ag-theme-alpine((
        odd-row-background-color: #CFD8DC
       
    ));
}

html, body { height: 90%; }
body {margin: 100px 0px 0px 400px; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 20px,0px,50px,100px; font-family: Roboto, "Helvetica Neue", sans-serif; }
