<div style="background-color:blue;width:100%;height: 40px; font-size:20px;">
        Employee Detail
      <span  class="flex-spacer"></span>
      <button  mat-button mat-dialog-close>&times;</button>
    </div>
  
    <div>
    <form novalidate [formGroup]="newemplyeeForm" #fform="ngForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field class="half-width" appearance="fill">
          <input matInput formControlName="code" placeholder="Code" type="number" pattern="[0-9]*" required>
          <mat-error *ngIf="formErrors.code">{{formErrors.code}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width"  appearance="fill">
          <input matInput formControlName="firstname" placeholder="First Name" type="text" required>
          <mat-error *ngIf="formErrors.firstname">{{formErrors.firstname}}</mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="half-width"  appearance="fill">
          <input matInput formControlName="middlename" placeholder="Middle Name" type="text" required>
          <mat-error *ngIf="formErrors.middlename">{{formErrors.middlename}}</mat-error>
        </mat-form-field>
      </p>
    <p>  
      <mat-form-field class="half-width" appearance="fill" >
        <input matInput formControlName="lastname" placeholder="Last Name" type="text" required>
        <mat-error *ngIf="formErrors.lastname">{{formErrors.lastname}}</mat-error>
      </mat-form-field>
      </p>
      
   
    <p> 
      <mat-form-field class="half-width" appearance="fill">
        <input matInput formControlName="gender" placeholder="gender" type="text" required>
        <mat-error *ngIf="formErrors.gender">{{formErrors.gender}}</mat-error>
      </mat-form-field>
      </p>   
      <p> 
      
          <mat-form-field class="half-width" appearance="fill">
            <input matInput formControlName="title" placeholder="title" type="text" required>
            <mat-error *ngIf="formErrors.title">{{formErrors.title}}</mat-error>
          </mat-form-field>
          </p>
        <p> 
          <mat-form-field class="half-width" appearance="fill">
            <input matInput formControlName="initial" placeholder="initial" type="text" required>
            <mat-error *ngIf="formErrors.initial">{{formErrors.initial}}</mat-error>
          </mat-form-field>
          </p>
     
      <p>
        <mat-form-field class="half-width" appearance="fill">
          <input matInput formControlName="billingrate" placeholder="Billing rate" type="number" pattern="[0-9]*" required>
          <mat-error *ngIf="formErrors.billingrate">{{formErrors.billingrate}}</mat-error>
        </mat-form-field>
          </p>
          <p> 
            <mat-form-field class="half-width" appearance="fill">
              <input matInput formControlName="function1" placeholder="function" type="text" required>
              <mat-error *ngIf="formErrors.function1">{{formErrors.function1}}</mat-error>
            </mat-form-field>
            </p>
      <p>
        <mat-form-field class="half-width" appearance="fill">
          <input matInput formControlName="phonenumber" placeholder="Phone Number" type="tel" pattern="[0-9]*" required>
          <mat-error *ngIf="formErrors.phonenumber">{{formErrors.phonenumber}}</mat-error>
        </mat-form-field>
      </p>
    <p>
      <mat-form-field class="half-width" appearance="fill">
        <input matInput formControlName="workphonenumber" placeholder="Work phone number" type="tel" pattern="[0-9]*" required>
        <mat-error *ngIf="formErrors.workphonenumber">{{formErrors.workphonenumber}}</mat-error>
      </mat-form-field>
      </p>  
    <p>
     
      <button type="submit" mat-raised-button >Submit</button>
    </p>
    </form>
  </div>