<div style="width:70%" >
    <div>
<h1 style="background-color:DodgerBlue;">Employee Detail</h1>
<!--<button mat-fab style="background-color:blue">+</button>-->
<span class="flex-spacer"></span>
  <a mat-fab style="background-color:blue" mat-button (click)="addEmployeeForm()">+</a>
</div>
</div>
    <ag-grid-angular
    style="width: 70%; height: 80%"
    class="ag-theme-alpine"
    [rowData]="employees"
    [columnDefs]="columnDefs"
    [paginationAutoPageSize]="true"
    [pagination]="true"
>
</ag-grid-angular>
-
